html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #0A0A0D;
    color: #A8B2BF;
}

#spiral_calc {
    min-width: 200px;
}

#spiralspec,
#thread {
    width: 48%;
    float: left;
    min-height: 100px;
    min-width: 200px;
}

p.note {
    font-size: small;
    color: #878e96;
    padding: 0 10px 0 10px;
}

#container {
    padding: 2%;
    overflow: auto;
    max-width: 800px;
    margin: 0 auto;
}
#container > h2{
    color:#878e96;
    font-weight:lighter;
    line-height:1.5;
}
#container > h2 a, #container > h2 a:visited{
    color: #A8B2BF;
}
#container > h2 a:hover{
    color: #A8B2BF;
    text-decoration:none;
}

#spiral_visual {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    background: white;
    border-radius: 10px;
}

input {
    background: #A8B2BF;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

input[type=button] {
    background: #F2BF5E;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

input:hover {
    background: white;
}

input:focus {
    color: black;
    border: 1px solid #707C8C;
    background: #F2BF5E;
}

h1 {
    background: #5639BF;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
}

h2 {
    color: #F2BF5E;
    margin-top: 0;
    margin-bottom: 10px;
}

label {
    display: block;
    float: left;
}

#output {
    border: 2px solid black;
    float: left;
    width: 40%;
    padding: 20px;
    margin: 0 0 10px 0;
    background: #5639BF;
    min-width: 200px;
}

#output p,
#output h2,
#output label {
    color: white;
}

#generate {
    padding: 10px;
    background: #5639BF;
    color: white;
    border: 1px solid white;

}

#generate:hover {
    padding: 10px;
    background: white;
    color: black;
    border: 1px solid black;
}
